*{
    margin: 0;
    padding: 0;
} 
a{
    text-decoration: none;
}
.banner{
    width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    height: 50px;
    line-height: 50px;
    background-color: #a73044;
}
.hitem{
    flex: 1;
    text-align: center;
}
.hitem a{
    color: #fff;
}
footer{
    height: 50px;
    line-height: 50px;
    background-color: #a73044;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}
.banner p{
    text-indent: 2em;
    line-height: 30px;
}
ol{
    margin-left: 30px;
}
ol li{
    line-height: 30px;
}
h3{
    margin: 20px ;
}
.infobox{
    display: flex;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
}
.infobox{
    margin: 20px 0;
}
.infobox .left{
    animation: suoxiao 1s;
}

@keyframes suoxiao {
    0% {
        transform: scale(1,1);

    }
    50%{
        transform: scale(0.7,0.7);
    }
    100%{
        transform: scale(1,1);
    }
}